body, html {
    margin: 0;
    font: 400 13px/1.8 "Lato", sans-serif;
    font-family: Lato, sans-serif;
    color: #777;
    background: #fdfdfd;
  }

  #chartCovidCases, #chartCovidDeaths, #chartCovidVaccinations, #chartCovidVaccinationsAges {
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
  }

  button {
    background-color: #a6cee3; 
    border: none;
    border-radius: 0.3rem;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 25px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    text-decoration: underline;
  }
  
  .home {
    float: right;
    padding: 30px 25px;
    /* position: absolute;
    right: 0px;
    top: 0px;*/
  }

  .heading {
    max-width: 930px;
    padding: 0 4px 50px;
    margin: 100px auto 0;
    text-align: center;
  }
  @media screen and (max-width: 767px) {
    .heading {
      margin: 100px auto 0;
    }
  }

  .teaser {
    max-width: 730px;
    /* padding: 15px; */
    margin: 0 auto;
    font-weight: 400;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
    color: #111;
  }

  .teaser p {
    font-size: 20px;
  }
  
  .byline {
    color: #a5a5a5;
    font-weight: 400;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  }
  
  @media screen and (max-width: 767px) {
    .mainhead {
      font-size: 28px;
      font-size: 1.75rem;
    }
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.image-heading {
    color: #fff;
    padding: 18px;
    font-size: 2em;
    letter-spacing: 0.3em;
  }
  
  .caption span.subhead {
    color: #fff;
    padding: 18px;
    font-size: 1.5em;
    letter-spacing: 0.2em;
  }
  
  .caption span.byline {
    color: #fff;
    padding: 18px;
    font-size: 1em;
    letter-spacing: 0.2em;
  }
  
  h1 {
    letter-spacing: 3px;
    /*text-transform: uppercase;*/
    font: 50px "Lato", sans-serif;
    color: #111;
    padding:2%;
  }
  
  h3 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
    /* padding:2%; */
  }
  
  .text {
    color: #777;
    background-color: #fdfdfd;
    text-align:left;
    margin-left: 10%;
    margin-right: 15%;
    /* padding-inline: 0.2em 0px; */
    font-weight: normal;
  }

  .text p {
    font-size: 1.5rem;
  }

  .text h2 {
    font-size: 2rem;
  }
  
  .text a {
    color: inherit;
    text-decoration: underline;
  }
  
  p a {
    color: inherit;
    text-decoration: underline;
  }
  
  .first-word {
    font-size: 30px;
    line-height: 70px;
  }
  
  /* blockquotes */
  .quote {
    font-style: italic;
  }
  
  .quote .source {
    font-style: normal;
    font-weight: bold;
  }
  
  /* Visualisations */
  .flourish-embed {
    position:relative;
    width:100%;
    height: auto;
    margin: 0 auto;
  }

  

  
  @import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
  @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
  
  .ft14 {
  font-size: 44px !important;
    color:red;
  }
  
  @media print {
    .header {
      position: static;
    }
  
   @media print {
    a[href^="http"]:not([href*="mywebsite.com"])::after {
      content: " (" attr(href) ")";
    }
  }
  }