body, html {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #777;
}

.nav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  text-decoration: underline;
}

.home {
  float: right;
  padding: 30px 25px;
  /* position: absolute;
  right: 0px;
  top: 0px;*/
}

.header {
  padding: 60px;
  text-align: center;
  background: #cdb4db; /**#1abc9c;**/
  color: white;
  font-size: 1.8rem !important;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .header {
    padding: 60px;
    font-size: 1rem !important;
  }

  .header h2 {
    /* padding: 60px; */
    font-size: 1rem !important;
    margin: 0.5rem 1rem 0 1rem;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header {
    padding: 60px;
    font-size: 15px;
  }
}

.caption {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.image-heading {
  color: #fff;
  padding: 18px;
  font-size: 2em;
  letter-spacing: 0.3em;
}

.caption span.subhead {
  color: #fff;
  padding: 18px;
  font-size: 1.5em;
  letter-spacing: 0.2em;
}

.caption span.byline {
  color: #fff;
  padding: 18px;
  font-size: 1em;
  letter-spacing: 0.2em;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 4%;
  z-index: 100;
  font-size: 2em;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding:1%;
  border-radius: 50%;
}

#to-top:hover {
  background-color: #555;
}

h1 {
  letter-spacing: 3px;
  /*text-transform: uppercase;*/
  font: 70px "Lato", sans-serif;
  color: #111;
  padding:2%;
}

h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  padding:2%;
}

.text {
  color: #777;
  background-color:white;
  text-align:left;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 18px;
}

.text a {
  color: inherit;
  text-decoration: underline;
}

p a {
  color: inherit;
  text-decoration: underline;
}

.first-word {
  font-size: 30px;
  line-height: 70px;
}

/* blockquotes */
.quote {
  font-style: italic;
}

.quote .source {
  font-style: normal;
  font-weight: bold;
}

/* Visualisations */
.flourish-embed {
  position:relative;
  width:80%;
  height: auto;
  margin: 0 auto;
}

/* embeds */
.instagram-media {
  position: relative;
  margin: 0 auto;
}

/* images */
.jocelyn-image {
  width:50%;
  float:left;
  padding:3%;
}

.abbi-image {
  width:45%;
  float:right;
  padding:3%;
}

figure {
  margin:0;
  border:0;
  padding:0;
}

/* captions */
figcaption {
  font-size:14px;
  color: grey;
}

/* lists */
li {
  margin-left: 3%;
  padding:1%;
}

/* Footer */
.footer {
  /* padding: 20%; */
  text-align: center;
  /* margin-top: 20%; */
}

.get-in-touch {
  padding: 60px;
  text-align: center;
  background: #cdb4db; /**#1abc9c;**/
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.get-in-touch a {
  text-decoration: none;
  color:white;
}

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.ft14 {
font-size: 44px !important;
  color:red;
}

@media print {
  .header {
    position: static;
  }

 @media print {
  a[href^="http"]:not([href*="mywebsite.com"])::after {
    content: " (" attr(href) ")";
  }
}
}